<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><%= title || 'robles Preview' %></title>
    <meta name="description" content="robles Local Rendering engine">

    <link rel="stylesheet" href="/styles.css">
  </head>

  <%= erb :'shared/_svg_icons.html' %>

  <body>
    <div class="l-min-height-100">
     <%= yield %>
    </div>
  </body>
</html>
