<header id="global-header" class="global-header" role="banner">
  <div class="header-container">

    <div class="header-left">
      <div class="header-logo">
        <a href="/">
          <svg><use xlink:href="#kodeco-orange"/></svg>
        </a>
      </div>
      <div class="page-name">
        <h4>robles: preview</h4>
      </div>
    </div>
    <div class="header-center">
      <span><%= content_module.shortcode %>:&nbsp;</span><span><%= content_module.title %>.</span>
    </div>
  </div>
</header>
