<section class="l-collection-modules l-book-modules l-padding-60 l-block-wrapper l-block--1080">
  <div class="l-collection-modules__wrapper">
    <div class="l-collection-modules__module-episodes">
      <% book.sections.each do |section| %>
        <h2><%= section.title %></h2>
        <div class="c-tutorial-episode">
          <div>
            <ul>
              <% section.chapters.each do |chapter| %>
                <li>
                  <h4><a class="book_homepage_clickChapter" href="<%= url(chapter_path(chapter)) %>">
                    <span class="o-badge-tutorial"><%= chapter.number %></span>. <span><%= chapter.title %></span>
                  </a></h4>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
