<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= title || 'robles Preview' %></title>
  <meta name="description" content="robles Local Rendering engine">

  <link rel="stylesheet" href="/styles.css">
  <script src="/javascript/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<body class="l-book-chapter l-chapter-text-size-100 l-page-size-720 l-chapter-font-sans-serif">
 <%= yield %>
</body>
</html>
