<div class="card is-flex is-flex-direction-column">
  <div class="card-image is-flex-grow-0">
    <figure class="image is-square">
      <img src="<%= image_url(image) %>" alt="<%= image.title %>" loading="lazy">
    </figure>
  </div>

  <div class="card-content is-flex-grow-1 p-3">
    <div class="is-flex is-flex-direction-row is-align-content-flex-start">
      <span class="is-flex-grow-1 has-text-weight-semibold"><%= image.title %></span>
      <% if image.category.present? %>
        <span class="tag is-info is-flex-grow-0"><%= image.category %></span>
      <% end %>
      </p>
    </div>
  </div>

  <footer class="card-footer is-flex-grow-0">
    <a href="#" class="card-footer-item is-size-7">Thumbnail</a>
    <a href="#" class="card-footer-item is-size-7">Large</a>
    <a href="#" class="card-footer-item is-size-7">Original</a>
  </footer>
</div>
