<div class="content">
  <div class="columns is-vcentered">
    <div class="column is-one-quarter">
      <nav class="level">
          <div class="level-item has-text-centered">
              <h1 class="title">How to use?</h1>
          </div>
      </nav>
    </div>
      <div class="column ">
        <div class="box">
          <h2>Linking to Razefaces</h2>
          <p>
            The images you see on this site are hosted on a CDN, and are guaranteed not to change URL. For use in online articles, you can link directly to the images displayed here.
            <ol>
              <li>
                Choose the appropriate size.
              </li>
              <li>
                Click the appropriate link below the image. It will open in a new tab.
              </li>
              <li>
                Copy the URL and paste it where you need it.
              </li>
            </ol>
          </p>
          <h2>Downloading Razefaces</h2>
          <p>
            If you need to edit an image, or store it as part of a project (e.g. for video courses or books), then you can download each of the images.
            <ol>
              <li>
                Choose the appropriate size.
              </li>
              <li>
                Click the appropriate link below the image. It will open in a new tab.
              </li>
              <li>
                Save the image directly from the browser.
              </li>
              <li>
                Feel free to crop or edit the image if you so desire.
              </li>
              <li>
                Store the image in the course/book repo, or upload alongside your article.
              </li>
            </ol>
            </p>
            <h3>Sizing</h3>
            <ul>
              <li> Thumnbnail = 150px wide </li>
              <li> Large = 700px wide </li>
              <li> Original = 1000px wide </li>
            </ul>
            <p>
              Please use the smallest size that you need. A full-width image for an article shouldn't need to be larger than the large size (700px wide). The display size on this site is 300px wide.
            </p>
            <h2>Usage </h2>
            <p>
              Feel free to use these images elsewhere (in conference talks etc). Attribution is not required, but appreciated (to Kodeco Inc.). Please don't use them in a scenario that paints Kodeco Inc. in a negative light.
            </p>
        </div>
    </div>
  </div>
</div>
