<div class="content">
<nav class="level">
 <div class="level-item has-text-centered">
  <div class="container">
      <p><strong>All images © <%= Date.today.year %> Razeware LLC</strong></p>

      <div class="notification">
        The copyright for all images on this site is owned by Razeware LLC.
        <br>Images may be used in Kodeco tutorials, including video tutorials, written tutorials, books, and advertising materials.
        <br>Kodeco team members may use, alter, and modify the images for use within Kodeco tutorials.
        <br>They may also use the images in any slides or other materials for conference talks.
        <br>No other use is permitted without permission.
      </div>
   </div>
  </div>
  </nav>
</div>


