/* ==========================================================================
X. Typography
========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=IBM+Plex+Sans:wght@500&display=swap');

.c-written-tutorial__content {

  > figure svg {
    max-width: 688px;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  figure svg {
    max-width: 688px;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

}

/* ==========================================================================
X. Arrows
========================================================================== */

#Arrow [id^='Tip'] {
  fill: #ffffff;
}

[id^='Arrow_'] [id^='Tip'] {
  fill: #ffffff;
}

#ArrowGrey [id^='Tip'] {
  fill: #ffffff;
}

[id^='ArrowGrey_'] [id^='Tip'] {
  fill: #ffffff;
}

#ArrowGreen [id^='Tip'] {
  fill: #ffffff;
}

[id^='ArrowGreen_'] [id^='Tip'] {
  fill: #ffffff;
}

#ArrowTurquoise [id^='Tip'] {
  fill: #ffffff;
}

[id^='ArrowTurquoise_'] [id^='Tip'] {
  fill: #ffffff;
}

#ArrowLightBlue [id^='Tip'] {
  fill: #ffffff;
}

[id^='ArrowLightBlue_'] [id^='Tip'] {
  fill: #ffffff;
}

#ArrowDarkBlue [id^='Tip'] {
  fill: #ffffff;
}

[id^='ArrowDarkBlue_'] [id^='Tip'] {
  fill: #ffffff;
}

#ArrowPurple [id^='Tip'] {
  fill: #ffffff;
}

[id^='ArrowPurple_'] [id^='Tip'] {
  fill: #ffffff;
}

#ArrowPink [id^='Tip'] {
  fill: #ffffff;
}

[id^='ArrowPink_'] [id^='Tip'] {
  fill: #ffffff;
}

#ArrowRed [id^='Tip'] {
  fill: #ffffff;
}

[id^='ArrowRed_'] [id^='Tip'] {
  fill: #ffffff;
}

#ArrowYellow [id^='Tip'] {
  fill: #ffffff;
}

[id^='ArrowYellow_'] [id^='Tip'] {
  fill: #ffffff;
}

/* ==========================================================================
X. Night Mode
========================================================================== */

.l-prefers-color-scheme--dark {

  .c-written-tutorial__content {
  

    /* ==========================================================================
    X. Labels
    ========================================================================== */

    text {
      fill: white;
    }

    text#TextGrey {
      fill: #D8DBE1 !important; 
    }
    
    text[id^='TextGrey_'] {
      fill: #D8DBE1 !important;
    }
    
    text#TextGreen {
      fill: #D6E18D !important; 
    }
    
    text[id^='TextGreen_'] {
      fill: #D6E18D !important;
    }
    
    text#TextTurquoise {
      fill: #97CFC1 !important; 
    }
    
    text[id^='TextTurquoise_'] {
      fill: #97CFC1 !important;
    }
    
    text#TextLightBlue {
      fill: #A6D9E2 !important; 
    }
    
    text[id^='TextLightBlue_'] {
      fill: #A6D9E2 !important;
    }
    
    text#TextDarkBlue {
      fill: #B9C3E4 !important; 
    }
    
    text[id^='TextDarkBlue_'] {
      fill: #B9C3E4 !important;
    }
    
    text#TextPurple {
      fill: #D3BDDB !important; 
    }
    
    text[id^='TextPurple_'] {
      fill: #D3BDDB !important;
    }
    
    text#TextPink {
      fill: #F2BCD7 !important; 
    }
    
    text[id^='TextPink_'] {
      fill: #F2BCD7 !important;
    }
    
    text#TextRed {
      fill: #F7B39C !important; 
    }
    
    text[id^='TextRed_'] {
      fill: #F7B39C !important;
    }
    
    text#TextYellow {
      fill: #FFD46F !important; 
    }
    
    text[id^='TextYellow_'] {
      fill: #FFD46F !important;
    }

    /* ==========================================================================
    X. Shapes
    ========================================================================== */

    #Shape rect:nth-of-type(1) {
      fill: #333333;
    }

    #Shape rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='Shape_'] rect:nth-of-type(1) {
      fill: #333333;
    }

    [id^='Shape_'] rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    /* ==========================================================================
    X. Shapes w/ Inner
    ========================================================================== */

    #ShapeInner > rect:nth-of-type(1) {
      fill: #333333;
    }

    #ShapeInner > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeInner_'] > rect:nth-of-type(1) {
      fill: #333333;
    }

    [id^='ShapeInner_'] > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    #ShapeInnerFore > rect:nth-of-type(1) {
      fill: #333333;
    }

    #ShapeInnerFore > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeInnerFore_'] > rect:nth-of-type(1) {
      fill: #333333;
    }

    [id^='ShapeInnerFore_'] > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    #ShapeInnerClear > rect {
      stroke: #ffffff;
    }

    [id^='ShapeInnerClear_'] > rect {
      stroke: #ffffff;
    }

    /* ==========================================================================
    X. Shapes w/ Patterns
    ========================================================================== */

    #ShapeInnerPattern #ShapeInnerBack > rect:nth-of-type(1) {
      stroke: #ffffff;
    }

    #ShapeInnerPattern #ShapeInnerFore > rect:nth-of-type(1) {
      fill: #333333;
    }

    #ShapeInnerPattern #ShapeInnerFore > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeInnerPattern_'] [id^='ShapeInnerBack_'] > rect:nth-of-type(1) {
      stroke: #ffffff;
    }

    [id^='ShapeInnerPattern_'] [id^='ShapeInnerFore_'] > rect:nth-of-type(1) {
      fill: #333333;
    }

    [id^='ShapeInnerPattern_'] [id^='ShapeInnerFore_'] > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    #ShapePattern path {
      stroke: #ffffff;
    }

    [id^='ShapePattern_'] path {
      stroke: #ffffff;
    }

    #ShapePattern rect:nth-of-type(1) {
      fill: #333333;
    }

    [id^='ShapePattern_'] rect:nth-of-type(1) {
      fill: #333333;
    }

    #ShapePattern rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapePattern_'] rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    #ShapeInnerPattern #ShapeBackground {
      fill: #333333;
    }

    [id^='ShapeInnerPattern_'] [id^='ShapeBackground_'] {
      fill: #333333;
    }



    /* ==========================================================================
    X. Arrows
    ========================================================================== */

    #Arrow circle {
      fill: #333333;
      stroke: #ffffff;
    }

    [id^='Arrow_'] circle {
      fill: #333333;
      stroke: #ffffff;
    }

    #Arrow [id^='Line'] {
      stroke: #ffffff
    }

    [id^='Arrow_'] [id^='Line'] {
      stroke: #ffffff
    }

    #Arrow [id^='Tip'] {
      fill: #333333;
      stroke: #ffffff;
    }

    [id^='Arrow_'] [id^='Tip'] {
      fill: #333333;
      stroke: #ffffff;
    }

    /* ==========================================================================
X. Arrow (Grey)
========================================================================== */

#ArrowGrey circle {
  fill: #333333;
  stroke: #D8DBE1;
}

[id^='ArrowGrey_'] circle {
  fill: #333333;
  stroke: #D8DBE1;
}

#ArrowGrey [id^='Line'] {
  stroke: #D8DBE1
}

[id^='ArrowGrey_'] [id^='Line'] {
  stroke: #D8DBE1
}

#ArrowGrey [id^='Tip'] {
  fill: #333333;
  stroke: #D8DBE1;
}

[id^='ArrowGrey_'] [id^='Tip'] {
  fill: #333333;
  stroke: #D8DBE1;
}

/* ==========================================================================
X. Arrow (Green)
========================================================================== */

#ArrowGreen circle {
  fill: #333333;
  stroke: #D6E18D;
}

[id^='ArrowGreen_'] circle {
  fill: #333333;
  stroke: #D6E18D;
}

#ArrowGreen [id^='Line'] {
  stroke: #D6E18D
}

[id^='ArrowGreen_'] [id^='Line'] {
  stroke: #D6E18D
}

#ArrowGreen [id^='Tip'] {
  fill: #333333;
  stroke: #D6E18D;
}

[id^='ArrowGreen_'] [id^='Tip'] {
  fill: #333333;
  stroke: #D6E18D;
}

/* ==========================================================================
X. Arrow (Turquoise)
========================================================================== */

#ArrowTurquoise circle {
  fill: #333333;
  stroke: #97CFC1;
}

[id^='ArrowTurquoise_'] circle {
  fill: #333333;
  stroke: #97CFC1;
}

#ArrowTurquoise [id^='Line'] {
  stroke: #97CFC1
}

[id^='ArrowTurquoise_'] [id^='Line'] {
  stroke: #97CFC1
}

#ArrowTurquoise [id^='Tip'] {
  fill: #333333;
  stroke: #97CFC1;
}

[id^='ArrowTurquoise_'] [id^='Tip'] {
  fill: #333333;
  stroke: #97CFC1;
}

/* ==========================================================================
X. Arrow (LightBlue)
========================================================================== */

#ArrowLightBlue circle {
  fill: #333333;
  stroke: #A6D9E2;
}

[id^='ArrowLightBlue_'] circle {
  fill: #333333;
  stroke: #A6D9E2;
}

#ArrowLightBlue [id^='Line'] {
  stroke: #A6D9E2
}

[id^='ArrowLightBlue_'] [id^='Line'] {
  stroke: #A6D9E2
}

#ArrowLightBlue [id^='Tip'] {
  fill: #333333;
  stroke: #A6D9E2;
}

[id^='ArrowLightBlue_'] [id^='Tip'] {
  fill: #333333;
  stroke: #A6D9E2;
}

/* ==========================================================================
X. Arrow (DarkBlue)
========================================================================== */

#ArrowDarkBlue circle {
  fill: #333333;
  stroke: #B9C3E4;
}

[id^='ArrowDarkBlue_'] circle {
  fill: #333333;
  stroke: #B9C3E4;
}

#ArrowDarkBlue [id^='Line'] {
  stroke: #B9C3E4
}

[id^='ArrowDarkBlue_'] [id^='Line'] {
  stroke: #B9C3E4
}

#ArrowDarkBlue [id^='Tip'] {
  fill: #333333;
  stroke: #B9C3E4;
}

[id^='ArrowDarkBlue_'] [id^='Tip'] {
  fill: #333333;
  stroke: #B9C3E4;
}

/* ==========================================================================
X. Arrow (Purple)
========================================================================== */

#ArrowPurple circle {
  fill: #333333;
  stroke: #D3BDDB;
}

[id^='ArrowPurple_'] circle {
  fill: #333333;
  stroke: #D3BDDB;
}

#ArrowPurple [id^='Line'] {
  stroke: #D3BDDB
}

[id^='ArrowPurple_'] [id^='Line'] {
  stroke: #D3BDDB
}

#ArrowPurple [id^='Tip'] {
  fill: #333333;
  stroke: #D3BDDB;
}

[id^='ArrowPurple_'] [id^='Tip'] {
  fill: #333333;
  stroke: #D3BDDB;
}

/* ==========================================================================
X. Arrow (Pink)
========================================================================== */

#ArrowPink circle {
  fill: #333333;
  stroke: #F2BCD7;
}

[id^='ArrowPink_'] circle {
  fill: #333333;
  stroke: #F2BCD7;
}

#ArrowPink [id^='Line'] {
  stroke: #F2BCD7
}

[id^='ArrowPink_'] [id^='Line'] {
  stroke: #F2BCD7
}

#ArrowPink [id^='Tip'] {
  fill: #333333;
  stroke: #F2BCD7;
}

[id^='ArrowPink_'] [id^='Tip'] {
  fill: #333333;
  stroke: #F2BCD7;
}

/* ==========================================================================
X. Arrow (Red)
========================================================================== */

#ArrowRed circle {
  fill: #333333;
  stroke: #F7B39C;
}

[id^='ArrowRed_'] circle {
  fill: #333333;
  stroke: #F7B39C;
}

#ArrowRed [id^='Line'] {
  stroke: #F7B39C
}

[id^='ArrowRed_'] [id^='Line'] {
  stroke: #F7B39C
}

#ArrowRed [id^='Tip'] {
  fill: #333333;
  stroke: #F7B39C;
}

[id^='ArrowRed_'] [id^='Tip'] {
  fill: #333333;
  stroke: #F7B39C;
}

/* ==========================================================================
X. Arrow (Yellow)
========================================================================== */

#ArrowYellow circle {
  fill: #333333;
  stroke: #FFD46F;
}

[id^='ArrowYellow_'] circle {
  fill: #333333;
  stroke: #FFD46F;
}

#ArrowYellow [id^='Line'] {
  stroke: #FFD46F
}

[id^='ArrowYellow_'] [id^='Line'] {
  stroke: #FFD46F
}

#ArrowYellow [id^='Tip'] {
  fill: #333333;
  stroke: #FFD46F;
}

[id^='ArrowYellow_'] [id^='Tip'] {
  fill: #333333;
  stroke: #FFD46F;
}


    /* ==========================================================================
    X. Lines
    ========================================================================== */

    #ShapeLine {
      stroke: #ffffff;
    }

    [id^='ShapeLine_'] {
      stroke: #ffffff;
    }

    #ShapeLineGrey {
      stroke: #D8DBE1;
    }
    
    [id^='ShapeLineGrey_'] {
      stroke: #D8DBE1;
    }
    
    #ShapeLineGreen {
      stroke: #D6E18D;
    }
    
    [id^='ShapeLineGreen_'] {
      stroke: #D6E18D;
    }
    
    #ShapeLineTurquoise {
      stroke: #97CFC1;
    }
    
    [id^='ShapeLineTurquoise_'] {
      stroke: #97CFC1;
    }
    
    #ShapeLineLightBlue {
      stroke: #A6D9E2;
    }
    
    [id^='ShapeLineLightBlue_'] {
      stroke: #A6D9E2;
    }
    
    #ShapeLineDarkBlue {
      stroke: #B9C3E4;
    }
    
    [id^='ShapeLineDarkBlue_'] {
      stroke: #B9C3E4;
    }
    
    #ShapeLinePurple {
      stroke: #D3BDDB;
    }
    
    [id^='ShapeLinePurple_'] {
      stroke: #D3BDDB;
    }
    
    #ShapeLinePink {
      stroke: #F2BCD7;
    }
    
    [id^='ShapeLinePink_'] {
      stroke: #F2BCD7;
    }
    
    #ShapeLineRed {
      stroke: #F7B39C;
    }
    
    [id^='ShapeLineRed_'] {
      stroke: #F7B39C;
    }
    
    #ShapeLineYellow {
      stroke: #FFD46F;
    }
    
    [id^='ShapeLineYellow_'] {
      stroke: #FFD46F;
    }

    /* ==========================================================================
    X. Shadows
    ========================================================================== */

    #ShapeShadow rect {
      fill: #ffffff;
    }

    [id^='ShapeShadow_'] rect {
      fill: #ffffff;
    }

    /* ==========================================================================
    X. Color Conversion (Grey)
    ========================================================================== */

    #ShapeGrey rect:nth-of-type(1) {
      fill: #717680;
    }

    #ShapeGrey rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeGrey_'] rect:nth-of-type(1) {
      fill: #717680;
    }

    [id^='ShapeGrey_'] rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    #ShapeInnerForeGrey > rect:nth-of-type(1) {
      fill: #717680;
    }

    #ShapeInnerForeGrey > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeInnerForeGrey_'] > rect:nth-of-type(1) {
      fill: #717680;
    }

    [id^='ShapeInnerForeGrey_'] > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    /* ==========================================================================
    X. Color Conversion (Green)
    ========================================================================== */

    #ShapeGreen rect:nth-of-type(1) {
      fill: #598131;
    }

    #ShapeGreen rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeGreen_'] rect:nth-of-type(1) {
      fill: #598131;
    }

    [id^='ShapeGreen_'] rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    #ShapeInnerForeGreen > rect:nth-of-type(1) {
      fill: #598131;
    }

    #ShapeInnerForeGreen > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeInnerForeGreen_'] > rect:nth-of-type(1) {
      fill: #598131;
    }

    [id^='ShapeInnerForeGreen_'] > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    /* ==========================================================================
    X. Color Conversion (Turquoise)
    ========================================================================== */

    #ShapeTurquoise rect:nth-of-type(1) {
      fill: #417D86;
    }

    #ShapeTurquoise rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeTurquoise_'] rect:nth-of-type(1) {
      fill: #417D86;
    }

    [id^='ShapeTurquoise_'] rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    #ShapeInnerForeTurquoise > rect:nth-of-type(1) {
      fill: #417D86;
    }

    #ShapeInnerForeTurquoise > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeInnerForeTurquoise_'] > rect:nth-of-type(1) {
      fill: #417D86;
    }

    [id^='ShapeInnerForeTurquoise_'] > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    /* ==========================================================================
    X. Color Conversion (Light Blue)
    ========================================================================== */

    #ShapeLightBlue rect:nth-of-type(1) {
      fill: #26809C;
    }

    #ShapeLightBlue rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeLightBlue_'] rect:nth-of-type(1) {
      fill: #26809C;
    }

    [id^='ShapeLightBlue_'] rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    #ShapeInnerForeLightBlue > rect:nth-of-type(1) {
      fill: #26809C;
    }

    #ShapeInnerForeLightBlue > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeInnerForeLightBlue_'] > rect:nth-of-type(1) {
      fill: #26809C;
    }

    [id^='ShapeInnerForeLightBlue_'] > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    /* ==========================================================================
    X. Color Conversion (Dark Blue)
    ========================================================================== */

    #ShapeDarkBlue rect:nth-of-type(1) {
      fill: #0074E0;
    }

    #ShapeDarkBlue rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeDarkBlue_'] rect:nth-of-type(1) {
      fill: #0074E0;
    }

    [id^='ShapeDarkBlue_'] rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    #ShapeInnerForeDarkBlue > rect:nth-of-type(1) {
      fill: #0074E0;
    }

    #ShapeInnerForeDarkBlue > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeInnerForeDarkBlue_'] > rect:nth-of-type(1) {
      fill: #0074E0;
    }

    [id^='ShapeInnerForeDarkBlue_'] > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    /* ==========================================================================
    X. Color Conversion (Purple)
    ========================================================================== */

    #ShapePurple rect:nth-of-type(1) {
      fill: #9A53B2;
    }

    #ShapePurple rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapePurple_'] rect:nth-of-type(1) {
      fill: #9A53B2;
    }

    [id^='ShapePurple_'] rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    #ShapeInnerForePurple > rect:nth-of-type(1) {
      fill: #9A53B2;
    }

    #ShapeInnerForePurple > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeInnerForePurple_'] > rect:nth-of-type(1) {
      fill: #9A53B2;
    }

    [id^='ShapeInnerForePurple_'] > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    /* ==========================================================================
    X. Color Conversion (Pink)
    ========================================================================== */

    #ShapePink rect:nth-of-type(1) {
      fill: #C34693;
    }

    #ShapePink rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapePink_'] rect:nth-of-type(1) {
      fill: #C34693;
    }

    [id^='ShapePink_'] rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    #ShapeInnerForePink > rect:nth-of-type(1) {
      fill: #C34693;
    }

    #ShapeInnerForePink > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeInnerForePink_'] > rect:nth-of-type(1) {
      fill: #C34693;
    }

    [id^='ShapeInnerForePink_'] > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    /* ==========================================================================
    X. Color Conversion (Red)
    ========================================================================== */

    #ShapeRed rect:nth-of-type(1) {
      fill: #C23100;
    }

    #ShapeRed rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeRed_'] rect:nth-of-type(1) {
      fill: #C23100;
    }

    [id^='ShapeRed_'] rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    #ShapeInnerForeRed > rect:nth-of-type(1) {
      fill: #C23100;
    }

    #ShapeInnerForeRed > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeInnerForeRed_'] > rect:nth-of-type(1) {
      fill: #C23100;
    }

    [id^='ShapeInnerForeRed_'] > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    /* ==========================================================================
    X. Color Conversion (Yellow)
    ========================================================================== */

    #ShapeYellow rect:nth-of-type(1) {
      fill: #9E6B05;
    }

    #ShapeYellow rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeYellow_'] rect:nth-of-type(1) {
      fill: #9E6B05;
    }

    [id^='ShapeYellow_'] rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    #ShapeInnerForeYellow > rect:nth-of-type(1) {
      fill: #9E6B05;
    }

    #ShapeInnerForeYellow > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

    [id^='ShapeInnerForeYellow_'] > rect:nth-of-type(1) {
      fill: #9E6B05;
    }

    [id^='ShapeInnerForeYellow_'] > rect:nth-of-type(2) {
      stroke: #ffffff;
    }

  }

}

