/**
 * Utility classes are helper classes that perform one thing extremely well.
 *
 * They do it so well, they override everything else.
 *
 * As such, they often only contain one property, and they include the !important declaration.
 *
 * 1. Show/Hide states for mobile screens
 *
 */

 /* ==========================================================================
   1. Show/Hide states for mobile screens
   ========================================================================== */

 .u-hide-mobile{
  @include breakpoint("mobile"){
    display: none
  }
 }

 .u-hide-mobile--force{
  @include breakpoint("mobile"){
    display: none !important;
  }
 }

 .u-hide-mobile-large{
  @include breakpoint("mobile-large"){
    display: none
  }
 }

 .u-hide-mobile-large--force{
  @include breakpoint("mobile-large"){
    display: none !important;
  }
 }

 .u-hide-tablet{
  @include breakpoint("tablet"){
    display: none
  }
 }

 .u-hide-tablet--force{
  @include breakpoint("tablet"){
    display: none !important;
  }
 }

.u-hide-1080{
  @include breakpoint($maxWidth: 1080px){
    display: none
  }
 }

 .u-show-mobile{
  display: none;
  @include breakpoint("mobile"){
    display: block;
  }
 }

 .u-show-mobile-large{
  display: none;
  @include breakpoint("mobile-large"){
    display: block;
  }
 }


 .u-show-tablet-flex--inline{
  display: none;
  @include breakpoint("tablet"){
    display: inline-flex;
  }
 }

 .u-show-tablet-flex--inline-force{
  display: none !important;
  @include breakpoint("tablet"){
    display: inline-flex !important;
  }
 }

 .u-show-1080-flex--inline{
  display: none;
  @include breakpoint($maxWidth: 1080px){
    display: inline-flex;
  }
 }

 .u-show-mobile--inline{
  display: none;
  @include breakpoint("mobile"){
    display: inline;
  }
 }

 .u-show-mobile-flex{
  display: none;
  @include breakpoint("mobile"){
    display: flex;
  }
 }

 .u-show-mobile-large-flex{
  display: none;
  @include breakpoint("mobile-large"){
    display: flex;
  }
 }

 .u-show-tablet-flex{
  display: none !important;
  @include breakpoint("tablet"){
    display: flex !important;
  }
 }

 /* ==========================================================================
   2. Toggle dropdown menu on hover
   ========================================================================== */

.u-toggle-dropdown{

  &:hover, &:active, &:focus{

    .o-dropdown-menu{
      display: block;

    }

  }

}

/* ==========================================================================
3. Show / Hide
========================================================================== */

.u-show--flex{
  display: flex;
}

.u-show{
  display: block !important;
}

.u-hide{
  display: none;
}

.l-markdown-description{
  p{
    margin-top: 8px;
  }
  ul{
    margin-top: 8px;
    margin-left: 15px;
  }
  li{
    list-style-type: disc;
  }
}

