/**
 *
 * Layouts
 *
 * For use everywhere - saves you adding margin, widths to components objects
 *
 * 1. Wrappers
 *
 * 2. Columns
 *
 * 3. Margins
 *
 * 4. Padding
 *
 * 5. Flex
 *
 * 6. Position
 *
 * 7. Text
 *
 * 8. Fonts
 *
 * 9. Grid
 *
 * 10. Background
 *
 * 11. Overlay
 *
 * 12. Borders
 *
 * 13. Z-index
 *
 */

/* ==========================================================================
1. Wrappers
========================================================================== */

 .l-block{
  margin: 0 auto;

  @include breakpoint("mobile-large"){
    max-width: none;
    padding: 0 20px;
  }

 }

 .l-block-padding-early{
  margin: 0 auto;

  @include breakpoint($maxWidth:1280px){
    max-width: none;
    padding: 0 20px;
  }

 }

 .l-block-no-padding-mobile{
  margin: 0 auto;

  @include breakpoint("mobile-large"){
    padding: 0;
  }

 }

 .l-block-padding-mobile-20{

  @include breakpoint("mobile-large"){
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

 }

 .l-block-padding-1200{

  @include breakpoint($maxWidth: 1200px){
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

 }

 .l-block-padding-mobile-24{

  @include breakpoint("mobile-large"){
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

 }

.l-block-wrapper{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
 }

 .l-height-0{
  height: 0 !important;
 }

.l-height-100-percent{
  height: 100%;
 }

 .l-height-100{
  height: 100vh;
 }

 .l-height-20{
  height: 20px;
 }

 .l-height-200{
  height: 200px;
 }

.l-block--224{
  max-width: 224px;
 }

 .l-min-height-100{
  min-height: 100vh;
 }

.l-block--card-320{
  max-width: 320px;
}


.l-block--card-360{
  max-width: 360px;
}

.l-block--card-420{
  max-width: 420px;
}

.l-block--card-small{
  max-width: 640px;
}

.l-block--686{
  max-width: 686px;
 }

.l-block--688 {
  max-width: 688px;
}

.l-block--696{
  max-width: 696px;
 }

.l-block--card-medium{
  max-width: 720px;
}


 .l-block--806{
  max-width: 806px;
 }

 .l-block--906{
  max-width: 906px;
 }

.l-block--912{
  max-width: 912px;
}

.l-block--920{
  max-width: 920px;
}

.l-block--968{
  max-width: 968px;
}

.l-block--1080{
  max-width: 1080px;
}

.l-block--1152 {
  max-width: 1152px;
}

.l-block--1200{
  max-width: 1215px;
}

.l-block--1300 {
  max-width: 1300px;
}

.l-block--100 {
  max-width: 100%;
}

.l-block-wide{
  margin: 0;
  max-width: 1500px;
  padding: 0 0 0 30px;

  @include breakpoint($minWidth: 1440px){
    margin: 0 auto;
  }

  @include breakpoint("mobile-large"){
    max-width: none;
    padding: 0 20px;
  }

}

.l-block-wide-padding{
  padding: 0 30px;

  @include breakpoint("mobile-large"){
    padding: 0 20px;
  }

}


 /* ==========================================================================
   2. Columns
   ========================================================================== */

 .l-full-col{
  width: 100%;
 }

 .l-half-col{
  width: 50%;
 }

 /* ==========================================================================
   3. Margins
   ========================================================================== */

.l-margin-auto {
  margin: 0 auto;
}

.l-margin-0 {
  margin-top: 0 !important;
}

.l-margin-0-tablet {
  @include breakpoint("tablet"){
    margin-top: 0 !important;
  }
}

.l-margin-all-0 {
  margin: 0 !important;
}

.l-margin-3 {
  margin-top: 3px;
}

.l-margin-6 {
  margin-top: 6px;
}

.l-margin-9 {
  margin-top: 9px;
}

.l-margin-9--force {
  margin-top: 9px !important;
}

.l-margin-10 {
  margin-top: 10px;
}

.l-margin-12 {
  margin-top: 12px;
}

.l-margin-12--force {
  margin-top: 12px !important;
}

.l-margin-15 {
  margin-top: 15px;
}

.l-margin-18 {
  margin-top: 18px;
}

.l-margin-18--i {
  margin-top: 18px !important;
}

.l-margin-20 {
  margin-top: 20px;
}

.l-margin-21 {
  margin-top: 21px;
}

.l-margin-21--force {
  margin-top: 21px !important;
}

.l-margin-24 {
  margin-top: 24px;
}

.l-margin-27 {
  margin-top: 27px;
}

.l-margin-30 {
  margin-top: 30px;
}

.l-margin-30--force {
  margin-top: 30px !important;
}

.l-margin-36 {
  margin-top: 36px;
}

.l-margin-40 {
  margin-top: 40px;
}

.l-margin-42 {
  margin-top: 42px;
}

.l-margin-45 {
  margin-top: 45px;
}

.l-margin-50 {
  margin-top: 50px;
}

.l-margin-60 {
  margin-top: 60px;
}

.l-margin-72 {
  margin-top: 72px;
}

.l-margin-90 {
  margin-top: 90px;
}

.l-margin-120 {
  margin-top: 120px;
}

.l-margin-180 {
  margin-top: 180px;
}

.l-margin-240 {
  margin-top: 240px;

  @include breakpoint("mobile-large") {
    margin-top: 180px;
  }

}

.l-margin-left-6 {
  margin-left: 6px;
}

.l-margin-left-9 {
  margin-left: 9px;
}

.l-margin-left-10 {
  margin-left: 10px;
}

.l-margin-left-6 {
  margin-left: 6px;
}

.l-margin-sides-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.l-margin-sides-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.l-margin-sides-3 {
  margin-left: 3px;
  margin-right: 3px;
}

.l-margin-sides-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.l-margin-n-9 {
  margin-top: -9px;
}

.l-margin-n-18 {
  margin-top: -18px;
}

.l-margin-n-20 {
  margin-top: -20px;
}


.l-margin-left-6 {
  margin-left: 6px;
}

.l-margin-left-9 {
  margin-left: 9px;
}

.l-margin-left-15 {
  margin-left: 15px;
}

.l-margin-left-18 {
  margin-left: 18px;
}

.l-margin-right-0 {
  margin-right: 0!important;
}

.l-margin-right-3 {
  margin-right: 3px;
}

.l-margin-right-4 {
  margin-right: 4px;
}

.l-margin-right-6 {
  margin-right: 6px;
}

.l-margin-right-8 {
  margin-right: 8px !important;
}

.l-margin-right-9 {
  margin-right: 9px !important;
}

.l-margin-right-10 {
  margin-right: 10px !important;
}

.l-margin-right-12 {
  margin-right: 12px !important;
}

.l-margin-right-15 {
  margin-right: 15px !important;
}

.l-margin-right-16 {
  margin-right: 16px !important;
}

.l-margin-right-21 {
  margin-right: 21px !important;
}

.l-margin-right-30 {
  margin-right: 30px !important;
}

.l-margin-left-auto {
  margin-left: auto!important;
}

.l-margin-right-auto {
  margin-right: auto!important;
}

.l-margin-bottom-n-10 {
  margin-bottom: -10px;
}

.l-margin-bottom-n-18 {
  margin-bottom: -18px;
}

.l-margin-bottom-12 {
  margin-bottom: 12px !important;
}

.l-margin-right-n-24 {
  margin-right: -24px;
}

.l-margin-left-n-24 {
  margin-left: -24px;
}

.l-margin-bottom-20 {
  margin-bottom: 20px !important;
}

.l-margin-bottom-45 {
  margin-bottom: 45px !important;
}

.l-margin-bottom-60 {
  margin-bottom: 60px !important;
}

/* Responsive margins */

.l-margin-mobile-9 {
  @include breakpoint("mobile-large") {
    margin-top: 9px;
  }
}

.l-margin-mobile-large-12 {
  @include breakpoint("mobile-large") {
    margin-top: 12px;
  }
}

.l-margin-mobile-large-15 {
  @include breakpoint("mobile-large") {
    margin-top: 15px;
  }
}

.l-margin-mobile-large-18 {
  @include breakpoint("mobile-large") {
    margin-top: 18px;
  }
}

.l-margin-mobile-large-40 {
  @include breakpoint("mobile") {
    margin-top: 40px;
  }
}

.l-margin-mobile-18 {
  @include breakpoint("mobile") {
    margin-top: 18px;
  }
}

.l-margin-mobile-30 {
  @include breakpoint("mobile") {
    margin-top: 30px;
  }
}

.l-margin-mobile-large-30 {
  @include breakpoint("mobile-large") {
    margin-top: 30px;
  }
}

.l-margin-tablet-60 {
  @include breakpoint("tablet") {
    margin-top: 60px;
  }
}

.l-margin-tablet-30 {
  @include breakpoint("tablet") {
    margin-top: 30px;
  }
}

.l-margin-mobile-large-60 {
  @include breakpoint("mobile-large") {
    margin-top: 60px;
  }
}

.l-margin-mobile-large-90 {
  @include breakpoint("mobile-large") {
    margin-top: 90px;
  }
}

.l-margin-mobile-large-left-20 {
  @include breakpoint("mobile-large") {
    margin-left: 20px;
  }
}

/* ==========================================================================
   7. Padding
   ========================================================================== */

.l-padding-wrapper{
  padding-left: 30px;
  padding-right: 30px;

  @include breakpoint("mobile-large"){
    padding-left: 0;
    padding-right: 0;
  }

}

.l-padding-right-15{
  padding-right: 15px;
}

.l-padding-sides-0{
  padding: 0 !important;
}

.l-padding-0{
  padding-top: 0 !important;
}

.l-padding-3{
  padding-top: 3px;
}

.l-padding-6{
  padding-top: 6px;
}

.l-padding-9{
  padding-top: 9px;
}

.l-padding-20{
  padding-top: 20px;
}

.l-padding-24{
  padding-top: 24px;
}

.l-padding-30{
  padding-top: 30px;
}

.l-padding-42{
  padding-top: 42px;
}

.l-padding-45{
  padding-top: 45px;
}

.l-padding-48{
  padding-top: 48px;
}

.l-padding-60{
  padding-top: 60px;
}

.l-padding-0--tablet{
  @include breakpoint("tablet"){
    padding-top: 0 !important;
  }
}

.l-padding-0--mobile-large{
  @include breakpoint("mobile-large"){
    padding-top: 0 !important;
  }
}

.l-padding-72{
  padding-top: 72px;
}

.l-padding-90{
  padding-top: 90px;
}

.l-padding-120{
  padding-top: 120px;
}

.l-padding-bottom-18{
  padding-bottom: 18px;
}

.l-padding-bottom-30{
  padding-bottom: 30px;
}

.l-padding-bottom-60{
  padding-bottom: 60px;
}

.l-padding-bottom-90{
  padding-bottom: 90px;
}

.l-padding-bottom-120{
  padding-bottom: 120px;
}

.l-padding-bottom-30--mobile-large {
  @include breakpoint("mobile-large") {
    padding-bottom: 30px !important;
  }
}

.l-padding-bottom-120--force{
  padding-bottom: 120px !important;
}

.l-padding-right-30{
  padding-right: 30px;
}

.l-padding-right-45{
  padding-right: 45px;
}

.l-padding-right-0{
  padding-right: 0 !important;
}

.l-no-padding-right{
  @include breakpoint("mobile-large"){
    padding-right: 0;
  }
}

.l-padding-left-86 {
  padding-left: 86px;
}

.l-no-padding-left--tablet {
  @include breakpoint("tablet"){
    padding-left: 0;
  }
}

.l-padding-sides-30--mobile-large{
  @include breakpoint("mobile-large"){
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

.l-padding-sides-24--tablet{
  @include breakpoint("tablet"){
    padding-left: 24px;
    padding-right: 24px;
  }
}

 /* ==========================================================================
   5. Flex
   ========================================================================== */

.l-flex{
  display: flex;
}

.l-flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

.l-flex-wrap--mobile-large{
  @include breakpoint("mobile-large"){
    display: flex;
    flex-wrap: wrap;
  }
}

.l-flex-nowrap{
  display: flex;
  flex-wrap: nowrap;
}

.l-flex-wrap-justify{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.l-flex-nowrap-justify{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.l-flex-align-center{
  display: flex;
  align-items: center;
}

.l-flex-align-center--force{
  display: flex !important;
  align-items: center;
}

.l-flex-align-start{
  display: flex;
  align-items: flex-start;
}

.l-flex-align-end{
  display: flex;
  align-items: flex-end;
}

.l-flex-align-stretch{
  display: flex;
  align-items: stretch;
}

.l-flex-justify-center{
  display: flex;
  justify-content: center;
}

.l-flex-justify-right{
  display: flex;
  justify-content: flex-end;
}

.l-flex-justify-space-between{
  display: flex;
  justify-content: space-between;
}

/* ==========================================================================
6. Position
========================================================================== */

.l-relative{
  position: relative;
}

.l-absolute{
  position: absolute;
  top: 0;
}

/* ==========================================================================
7. Text
========================================================================== */

.l-text-align-left{
  text-align: left;
}

.l-text-align-left--force{
  text-align: left !important;
}

.l-text-align-center{
  text-align: center;
}

.l-text-align-right{
  text-align: right;
}

.l-text-align-left--mobile{
  @include breakpoint("mobile-large"){
    text-align: left;
  }
}

.l-text-align-center--tablet{
  @include breakpoint("tablet"){
    text-align: center;
  }
}

.l-text-align-center--mobile{
  @include breakpoint("mobile-large"){
    text-align: center;
  }
}


/* ==========================================================================
8. Fonts
========================================================================== */

.l-font-header--mobile{
  @include breakpoint("mobile-large"){
    font-size: 1.5em !important;
    line-height: 1.35;
  }
}

.l-font-header--mobile-27{
  @include breakpoint("mobile-large"){
    font-size: 1.7rem !important; /* 36/16 */
    line-height: 1.35;
  }
}

.l-font-header--mobile-27-1125{
  @include breakpoint("mobile-large"){
    font-size: 1.7rem !important;
    line-height: 1.125;
  }
}

.l-font-body {
  font-family: $body !important;
}

.l-font-header{
  font-family: $header;

  ul{
    font-family: $header;
  }
}

.l-font-header--force{
  font-family: $header !important;
}

.l-font-normal{
  font-weight: normal;
}

.l-font-semibold{
  font-weight: 600;
}

.l-font-bold{
  font-weight: 700;
}

.l-font-italic{
  font-style: italic;
}

.l-font-no-decor{
  text-decoration: none;
}

.l-font-no-decor--hover{
  &:hover{
    text-decoration: none !important;

    .o-button__label {
      text-decoration: none !important;
    }

  }

}

.l-font-underline{
  text-decoration: underline;
}

.l-font-underline--force{
  text-decoration: underline !important;
}

.l-font-line{
  text-decoration: line-through;
}

.l-line-height-1{
  line-height: 1;
}

.l-line-height-1125{
  line-height: 1.125;
}

.l-line-height-1125--force{
  line-height: 1.125 !important;
}

.l-line-height-12{
  line-height: 1.2;
}

.l-line-height-125{
  line-height: 1.25;
}

.l-line-height-125--mobile-large{
  @include breakpoint("mobile-large"){
    line-height: 1.25 !important;
  }
}

.l-font-12{
  font-size: 0.75rem; /* 12/16 */
}

.l-font-14{
  font-size: 0.875rem; /* 14/16 */
}

.l-font-15{
  font-size: 0.9375rem; /* 15/16 */
}

.l-font-15--force{
  font-size: 0.9375rem !important; /* 15/16 */
}

.l-font-16{
  font-size: 1rem; /* 15/16 */
}

.l-font-17{
  font-size: 1.0625rem; /* 24/16 */
}

.l-font-18{
  font-size: 1.125em;
}

.l-font-19{
  font-size: 1.1875rem; /* 19/16 */
}

.l-font-24{
  font-size: 1.5rem; /* 24/16 */
}

.l-font-27{
  font-size: 1.6875rem /* 27/16 */
}

.l-font-30{
  font-size: 1.875rem; /* 30/16 */
}

.l-font-36{
  font-size: 2.25rem; /* 36/16 */
}

.l-font-42{
  font-size: 2.625rem; /* 42/16 */
}

.l-font-15--mobile{

  @include breakpoint("mobile-large"){
    font-size: 0.9375rem; /* 15/16 */
  }

}

.l-font-16--mobile{

  @include breakpoint("mobile-large"){
    font-size: 1rem !important; /* 17/16 */
  }

}

.l-font-17--mobile{

  @include breakpoint("mobile-large"){
    font-size: 1.0625rem !important; /* 17/16 */
  }

}

.l-font-22--mobile{

  @include breakpoint("mobile-large"){
    font-size: 1.375rem; /* 22/16 */
    line-height: 1.25;
  }

}

.l-font-24--mobile{

  @include breakpoint("mobile-large"){
    font-size: 1.5rem; /* 24/16 */
  }

}

.l-font-30--mobile {

  @include breakpoint("mobile-large"){
    font-size: 1.875rem !important; /* 30/16 */
  }

}

.l-font-36--mobile{
  font-size: 2.25rem; /* 36/16 */

  @include breakpoint("mobile-large"){
    font-size: 1.5em;
  }

}

.l-color-grey{
  color: $grey-raven !important;
}

.l-color-grey-regent{
  color: $grey-regent;
}

.l-color-grey-cadet{
  color: $grey-cadet;
}

.l-color-grey-chateau{
  color: $grey-chateau;
}

.l-color-white{
  color: $white;
}

.l-color-white--force{
  color: $white !important;
}

.l-color-white-hover{
  &:hover{
    color: $white !important;
  }
}

.l-color-black{
  color: $black-mine-shaft !important;
}

.l-color-green{
  color: $green-brand;
}

.l-color-red{
  color: $red-pomegranate;
}

.l-color-green--force{
  color: $green-brand !important;
}

.l-color-neon--red {
  color: transparent !important;
  paint-order: fill stroke markers;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FED128;
  text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 3vw #FA1C16, 0 0 .4vw #FED128;

  @include breakpoint("mobile"){
    -webkit-text-stroke-width: 1px;
  }
}

.l-color-neon--blue {
  color: transparent !important;
  paint-order: fill stroke markers;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #28D7FE;
  text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE;

  @include breakpoint("mobile"){
    -webkit-text-stroke-width: 1px;
  }
}

.l-font-label{
  font-size: 0.75rem; /* 12/16 */
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: $grey-regent;
}

.l-whitespace{
  white-space: nowrap;
}

.l-whitespace-reset{
  white-space: normal !important;
}

.l-font-spacing{
  letter-spacing: -.5px;
}

.l-no-font-spacing {
  letter-spacing: 0px;
}

/* ==========================================================================
9. Grid
========================================================================== */

.l-grid {
  display: grid;
}

.l-grid-2-fr{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.l-grid-2{
  display: grid;
  grid-template-columns: auto auto;
}

.l-grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @include breakpoint("mobile-large"){
    display: block;
  }

}

.l-grid-4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

   @include breakpoint("mobile"){
    display: block;
  }

}

.l-grid-5{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
}

.l-grid-6-3-fr{
  display: grid;
  grid-template-columns: 6fr 3fr;
}

.l-grid-col-gap-8{
  grid-column-gap: 8px;
}

.l-grid-col-gap-12{
  grid-column-gap: 12px;
}

.l-grid-col-gap-16 {
  grid-column-gap: 16px;
}

.l-grid-col-gap-18{
  grid-column-gap: 18px;
}

.l-grid-col-gap-20{
  grid-column-gap: 20px;
}

.l-grid-col-gap-24{
  grid-column-gap: 24px;
}

.l-grid-col-gap-25{
  grid-column-gap: 25px;
}

.l-grid-col-gap-26{
  grid-column-gap: 26px;
}

.l-grid-col-gap-30{
  grid-column-gap: 30px;
}

.l-grid-col-gap-36{
  grid-column-gap: 36px;
}

.l-grid-col-gap-40{
  grid-column-gap: 40px;
}

.l-grid-col-gap-142{
  grid-column-gap: 142px;
}

.l-grid-row-gap-18{
  grid-row-gap: 18px;
}

.l-grid-row-gap-20{
  grid-row-gap: 20px;
}

.l-grid-row-gap-25{
  grid-row-gap: 25px;
}

.l-grid-row-gap-26{
  grid-row-gap: 26px;
}

.l-grid-row-gap-30{
  grid-row-gap: 30px;
}

.l-grid-col-gap-60{
  grid-column-gap: 60px;
}

.l-grid-row-gap-40{
  grid-row-gap: 40px;
}

.l-grid-row-gap-50{
  grid-row-gap: 50px;
}

.l-grid-row-gap-60{
  grid-row-gap: 60px;
}

.l-grid-2fr-tablet{
  @include breakpoint("tablet"){
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.l-grid-tablet{
  @include breakpoint("tablet"){
    display: grid;
    grid-template-columns: 1fr;
  }
}

.l-grid-mobile{
  @include breakpoint("mobile-large"){
    display: grid;
    grid-template-columns: 1fr;
  }
}

.l-grid-mobile--force{
  @include breakpoint("mobile-large"){
    display: grid;
    grid-template-columns: 1fr !important;
  }
}

.l-mason-grid {
  display: grid;
  grid-column-gap: 26px;
  grid-row-gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;

  @include breakpoint($maxWidth: 1080px){
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint("mobile-large"){
    grid-template-columns: 1fr;
  }

  .c-tutorial-item {
    margin-top: 0 !important;
  }

}

/* ==========================================================================
10. Background
========================================================================== */

.l-background--grey{
  background: $grey-black-squeeze;
}

.l-background--blue-grey{
  background: #E2E6F7;
}

.l-background--black{
  background: $black-mine-shaft;
}

.l-background--dark-black {
  background: #222222 !important;
}

.l-background--yellow{
  background: $yellow-gold !important;
}

.l-background--yellow-grandis {
  background: $yellow-grandis !important;
}


.l-background--blue{
  background: $blue-curious !important;
}


/* ==========================================================================
11. Overflow
========================================================================== */

.l-overflow-x{
  overflow: hidden;
  overflow-x: auto;
  @include mobile-scroll;
}

.l-overflow-hidden{
  overflow: hidden;
}

.l-overflow-hidden--mobile{
  @include breakpoint("mobile-large"){
    overflow: hidden;
    @include hide-scrollbar;
  }
}


/* ==========================================================================
12. Borders
========================================================================== */

.l-no-border{
  border: none !important;
}

.l-border-top-grey {
  border-top: 1px solid $grey-iron;
}

.l-border-bottom-grey {
  border-bottom: 1px solid $grey-iron;
}

.l-border-radius {
  border-radius: $border-radius;
}

/* ==========================================================================
13. Block
========================================================================== */

.l-display-block{
  display: block;
}

.l-display-block--force{
  display: block !important;
}

.l-inline-block{
  display: inline-block;
}

.l-inline-flex{
  display: inline-flex;
}

.l-block-mobile-large{
  @include breakpoint("mobile-large"){
  display: block;
  }
}

.l-block-mobile{
  @include breakpoint("mobile"){
  display: block;
  }
}

/* ==========================================================================
14. Cursor
========================================================================== */

.l-cursor-pointer{
  cursor: pointer;
}

/* ==========================================================================
14. Z-index
========================================================================== */

.l-z-index-1{
  z-index: 1;
}

/* ==========================================================================
14. Borders
========================================================================== */

.l-border-top{
  border-top: 1px solid $grey-catskill;
}

.l-border-bottom{
  border-bottom: 1px solid $grey-catskill;
}

/* ==========================================================================
15. States
========================================================================== */

.l-no-focus{
  &:focus{
    box-shadow: none !important;
    outline: 0 !important;
  }
}

/* ==========================================================================
16. Floats
========================================================================== */

.l-image-float-left{
  float: left;
  margin-right: 30px;

  img{
    margin-top: 0 !important;
    margin-bottom: 18px !important;
  }

}

.l-image-float-right{
  float: right;
  margin-left: 30px;

  img{
    margin-top: 0 !important;
    margin-bottom: 18px !important;
  }

}

/* ==========================================================================
17. Visibility
========================================================================== */

.l-visibility-hidden {
  visibility: hidden;
}

/* ==========================================================================
18. Transform
========================================================================== */

.l-rotate-180 {
  transform: rotate(180deg);
}

